@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

html, body, #root, #root > *:only-child {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Expletus Sans', sans-serif;
}

body {
  background: url('./images/dark.jpg') no-repeat center center fixed;
  background-size: cover;
}

#root {
  background: #000000AA;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// scrollbar

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

input[type="file"] {
  display: none;
}

select {
  background: none;
  color: black;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: -0.25rem;
  border-bottom: 1px solid black;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('./images/loader.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1000;
  animation: loader-float-up-and-down 3s infinite;
}

@keyframes loader-float-up-and-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes load-left-to-right {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: -100% 50%
  }
  100% {
    background-position: -200% 50%
  }
}

.editing-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  min-width: 10rem;

  > input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: #000000AA;
    color: white;
    border-bottom: 1px solid black;
    max-width: calc(100% - 3rem);
  }

  > span {
    flex-grow: 1;
    border-bottom: 1px solid black;
  }
}

.title {
  font-size: 4rem;
  color: #f0d07d;
  margin: 1rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

.image-display {
  height: calc(100% - 10rem);
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 100%;
    height: 100%;
  }
}

.number {
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  border: #000000 1px dashed;
  border-radius: 2px;
  box-sizing: border-box;

  &.participating {
    border: #000000 2px solid;
  }

  &.disabled {
    background: #d8877a55;
  }

  &.selected {
    border: black 3px solid;
  }

  &.total {
    background: #4051bf55;    
  }

  &.discount {
    background: #88bf4055;
  }

  &.tip {
    background: #f0d07d55;
  }

  > .editing-value {
    background: #ffffffaa;
    position: absolute;
    top: -2px;
    left: calc(100% + 0.5rem);
    width: 5rem;
    height: 100%;
    min-width: 5rem;
    gap: unset;
    border: 1px dashed black;
    padding: 2px;

    * {
      border: none;
      font-size: 0.8rem;
    }

    > input {
      width: 3rem;
      background-color: transparent;
      color: black;
      font-weight: bold;
    }
  }

  &.active {
    border-style: solid;
    background-color: #000000;
    opacity: 0.5;
  }
}

.question, .text {
  text-align: center;
  color: white;

  &.yellow {
    color: #f0d07d;
  }
}

.button {
  width: calc(100% - 2rem);
  height: 3rem;
  margin: 0.5rem 1rem;

  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  cursor: pointer;

  text-transform: uppercase;
  font-size: 1.2rem;

  &:last-child {
    margin-bottom: 1rem;
  }
  
  > span {
    flex-grow: 1;
    text-align: center;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.red {
    background: #d8877a;
    border: 1px solid #d8877a;
    &.empty { color: #d8877a; }
  }

  &.yellow {
    background: #f0d07d;
    border: 1px solid #f0d07d;
    &.empty { color: #f0d07d; }
  }

  &.blue {
    background: #cbcdcd;
    border: 1px solid #cbcdcd;
    &.empty { color: #cbcdcd; }
  }

  &.green {
    background: #88bf40;
    border: 1px solid #88bf40;
    &.empty { color: #88bf40; }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.empty {
    background: none !important;
  }
}

.buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1rem;

  > .button {
    flex-grow: 1;
    margin: 0;
  }
}

.require-user {
  background-image: url('./images/light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem !important;
  box-sizing: border-box;

  > * {
    width: 100%;
  }

  .message {
    height: 20vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .actions {
    height: 20vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;

    input {
      font-size: 2rem !important;
      width: calc(100% - 5rem);
      max-width: calc(100% - 5rem);
    }
  }

  .button {
    background: black;
    border: 1px solid black;
    color: #f0d07d;
    margin: 0;
    width: 100%;
  }
}

.additions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;

  > .button {
    min-width: 6rem;
    height: 2.5rem;
    margin: 0 !important;
    font-size: 0.8rem;
    padding: 0.5rem;

    &.active {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.top-bar {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.bottom-bar {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #f0d07d;

  > .button {
    height: 100%;
    margin: 0 !important;
    font-size: 1rem;
    border-radius: 0;

    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }
}

.dashboard {
  width: 100%;
  height: calc(100% - 5rem);
  box-sizing: border-box;
  padding: 1rem 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  width: 100%;
  display: flex;
  background: #f0d07daa;
  padding: 1rem;
  box-sizing: border-box;
  color: black;
}

.list {
  height: calc(100% - 5rem);
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;

  > .card {
    min-height: 8rem;
    margin: auto;
    margin-bottom: 1rem;
    background: #f0d07d;
    width: 100%;
    padding: 0.5rem;
    box-sizing: 'border-box';
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px 0.5px #403007;

    > * {
      color: black;
    }
  }
}

.item.card {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  text-align: left;

  > :first-child {
    grid-column: 1 / 5;
  }
}

.person.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: left;

  > :first-child {
    grid-column: 1 / 5;
  }

  &.loading {
    background: linear-gradient(90deg, #000000 0%, #f0d07d33 40%, #f0d07d33 60%, #000000 100%);
    background-size: 200% 200%;
    animation: load-left-to-right 3s linear infinite;
  }
}

.participate {
  width: 100%;
  height: calc(100% - 2.5rem);
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  > .image-display {
    height: calc(100% - 2rem);
  }

  + .bottom-bar {
    margin-top: 1rem;
  }
}

.big.counter {
  background: #f0d07d;
  color: black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}
